@import "home";

#map {
  height: 100%;
}
/* Makes the sample page fill the window. */
html, body, #wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#wrapper { position: relative; }

#filter { position: absolute; width: 275px; height: 700px; top: 75px; left: 20px; z-index: 99; background-color: white; border-radius: 2px;
  box-shadow: 1px 1px 2px #B3B3B3; overflow:scroll; color: black; padding: 10px; opacity: 80%;}

#search { position: absolute; width: 456px; height: 50px; top: 50px; left: 400px; z-index: 99; opacity: 100%; border-radius: 2px; padding: 10px;}

#results { position: absolute; width: 350px; height: 400px; top: 125px; right: 20px; z-index: 99; background-color: white; border-radius: 2px;
  box-shadow: 1px 1px 2px #B3B3B3; overflow-y:scroll; color: black; padding: 10px;}

#summary { position: absolute; width: 350px; height: 450px; top: 173px; right: 388px; z-index: 99; background-color: white; border-radius: 2px;
  box-shadow: 1px 1px 2px #B3B3B3; overflow-y:scroll; color: black; padding: 10px;}

.results-text {
  font-style: bold;
}

.summary-text-heading {
 font-style: bold !important;
 padding: 15px;
}


.summary-text {
  margin: 0px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.km-entry { width: 50px;}

.button-search {

  background-color: blue;
  border: none;
    border-radius:5px;

}

.button-box {
  display: flex;
  justify-content: center;
  padding-top: 10px;

}

.button-uncheckall {
  background-color:gray;
  border-radius:5px;
}

.button-summarize {
  background-color:green;
  border-radius:5px;

}

.button-show-details {
  background-color:blue;
  border-radius:5px;

}

.button-show-summary{
  background-color:blue;
  border-radius:5px;

}

.button-uncheckall:hover {
opacity: 80%;

}


.button-summarize:hover {
opacity: 80%;

}

.button-show-details:hover {
opacity: 80%;

}

.last-pline {

  padding-bottom: 20px;
}

