@import "home";

#map {
  height: 100%;
}
/* Makes the sample page fill the window. */
html, body, #wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
  #wrapper { position: relative; }
  #over_map { position: absolute; width: 275px; height: 300px; top: 50px; left: 20px; z-index: 99; background-color: white; border-radius: 2px;
    box-shadow: 1px 1px 2px #B3B3B3; overflow:scroll; color: black; padding: 10px;}
  #search { position: absolute; width: 350px; height: 50px; top: 50px; left: 400px; z-index: 99; background-color: white; border-radius: 2px;
    box-shadow: 1px 1px 2px #B3B3B3; color: black; padding: 10px;}
  #results { position: absolute; width: 350px; height: 375px; top: 50px; right: 20px; z-index: 99; background-color: white; border-radius: 2px;
    box-shadow: 1px 1px 2px #B3B3B3; overflow-y:scroll; color: black; padding: 10px;}
  .results-text {
    font-style: bold;
}
