<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <p class="h2">Searching Your Location...</p>
    </div>
  </div>
</div>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?language=en&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript">
  ///////////////////////////////////////////////// ///////////////////////////////////////////////////// ////////////Draw Map///////////////////////////// //////////////////
  var options = {
    enableHighAccuracy: true,
    timeout: 10000,
    maximumAge: 10000
  };

  function successGetPosition(position) {
    alert("ok");
    //alert("Successfully Got Current Location"); alert("lat:" + position.coords.latitude + ", lng:" + position.coords.longitude);
    if (navigator.userAgent.match(/Android/i)) {
      location = "/users/<%= current_user.id %>/requests/?lat=" + position.coords.latitude + "&lng=" + position.coords.longitude;
    } else {
      location = "/users/<%= current_user.id %>/requests/?lat=" + position.coords.latitude + "&lng=" + position.coords.longitude;
    };
  };

  function failGetPosition(failure) {
    if(failure.message.indexOf("Only secure origins are allowed") == 0) {
      alert("https");
    }
    alert(failure.message);
  };

  $(document).on('ready', function () {
    if (navigator.geolocation) { //Get Current Location
        alert("start");
      navigator.geolocation.getCurrentPosition(successGetPosition, failGetPosition, options);
    }
  });
</script>
