
.btn-text-small {
  font-size: 18px;
  color: $black;
}

.btn-text-mid {
  font-size: 20px;
  color: $black;
}

.btn-text-large {
  font-size: 24px;
  color: $black;
}

.btn-text-w-small {
  font-size: 18px;
  color: $white;
}

.btn-text-w-mid {
  font-size: 20px;
  color: $white;
}
