.form-inputs {
  background: $gray;
  padding: 20px 20px;
  margin-top: 15px;
  border-radius:1px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.form-inputs input {
  color: black;
}

.select-form option:first-child {
  color: $gray;
}


.form-inputs .form-control {
  color: black;
}

#sing_in_links a {
  color:black;
}

.container-form-flex {
  padding-top: 25%;
}
